sb-layout-blog

    sb-header(
        backgroundImage='url("assets/img/ron_shipp/16-way-2-bg.jpg")',
        heading='Records',
        subHeading='Skydiving Record & Performance Database',
        [siteHeading]='true'
    )

    ng-container
        div.text-center(
            (click)='stateClicked($event)',
            #pageTop
        )
            p.text-center Click On The Map For State Records
            include usa.svg

        div.text-center(
            style='min-height: 100px;'
        )
            h2 {{ recordState | sbStateAbbr }} Records

            div(
                *ngIf='records$ | async as records'
            )          
                .container
                    .row
                        .col-md-3.col-sm-6.col-xs-12(
                            style='text-align: left; white-space: nowrap;',
                            *ngFor='let recordGroup of records;let ri = index;'
                        )
                            a(
                                style='cursor: pointer;text-decoration:underline;',
                                (click)='scrollToSubclass(ri)'
                            ) {{ recordGroup.subclass }}
                    hr
                    .row
                        .col-xl-12
                            .record-preview(
                                *ngFor='let recordGroup of records'
                            )
                                .row(
                                    #recordSubclass
                                )
                                    .col-xl-12
                                        h3.record-title 
                                            fa-stack(
                                                style='float: left;',
                                                size='xs',
                                                (click)='scrollToTop()'
                                            )
                                                fa-icon.fa-stack-2x([icon]='["fas", "circle"]', stackItemSize="2x")
                                                fa-icon.fa-stack-1x.fa-inverse([icon]='["fas", "arrow-up"]', stackItemSize="1x")
                                            p {{ recordGroup.subclass }}
                                .row.record-subclass-row(
                                    *ngFor='let recordSubgroup of recordGroup.records'
                                )
                                    .col-xs-12.col-lg-11.mx-auto.record-subtitle-header
                                        p.record-subtitle {{ recordSubgroup.record }}
                                    .col-lg-10.mx-auto

                                        .row.record-entry(
                                            *ngFor='let record of recordSubgroup.records'
                                        )
                                            .col-7
                                                p.record-performance {{ record.performance }}
                                            .col-5
                                                p.record-category {{ record.category }}
                                            .col-8
                                                p.record-dropzone {{ record.location }}
                                            .col-4
                                                p.record-date {{ record.uspadate | date }}
                                hr

            div(
                style="position: relative;height:100px;"
            )
                ngx-spinner(
                    bdColor='rgba(0,0,0,0)',
                    color='#ff5e00',
                    size='medium',
                    [fullScreen]='false'
                )
                    h3(style='padding-top: 100px;') Loading...
