sb-layout-blog

    sb-header(
        backgroundImage='url("assets/img/ron_shipp/16-way-2-bg.jpg")',
        heading='Records',
        subHeading='Skydiving Record & Performance Database',
        [siteHeading]='true'
    )

    ng-container
        div.text-center(
            (click)='stateClicked($event)'
        )
            include usa.svg
        div.text-center(
            style='min-height: 100px;'
        )
            h2 {{ recordState | sbStateAbbr }} Records

            div(
                *ngIf='records$ | async as records'
            )          
                .container
                    .row
                        .col-xl-12
                            .record-preview(
                                *ngFor='let recordGroup of records'
                            )
                                .row
                                    .col-xl-12
                                        h3.record-title {{recordGroup.subclass }}
                                .row(
                                    *ngFor='let recordSubgroup of recordGroup.records'
                                )
                                    .col-lg-10.mx-auto
                                        h5.record-subtitle {{ recordSubgroup.record }}

                                        .row(
                                            *ngFor='let record of recordSubgroup.records'
                                        )
                                            .col-xl-4
                                                p.record-performance {{ record.performance }}
                                            .col-xl-4
                                                p.record-category {{ record.category }}
                                            .col-xl-4
                                                p.record-date {{ record.uspadate | date }}
                                            .col-xl-12
                                                p.record-dropzone {{ record.location }}

            div(
                style="position: relative;height:100px;"
            )
                ngx-spinner(
                    bdColor='rgba(0,0,0,0)',
                    color='blue',
                    size='medium',
                    [fullScreen]='false'
                )
                    h3(style='padding-top: 100px;') Loading...
